body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

h1 {
    color: #333;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}

.album {
    background-color: #e9ecef;
}

.btn-outline-secondary {
    border-color: #55595c;
    color: #55595c;
}

.btn-outline-secondary:hover {
    background-color: #55595c;
    color: white;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #fff;
    text-decoration: underline;
}

footer a:hover {
    color: #ddd;
}